@import '~taro-ui/dist/style/components/flex.scss';
@import '../../static/style/common';
.Goupiao-warp {
    background-color: #fff;
    width: 100%;
    height:100%;
    padding-bottom: 200px;
    overflow-x: hidden;
}
