.community-add-title {
    input {
        font-size: 38px;
        font-weight: 200;
    }
    
}
.send-btn {
    margin: 10px;
}
.detail-add-content {
    border-top: 0PX #d6e4ef solid;
    border-bottom: 0PX #d6e4ef solid;
    padding-left: 24px;
}
.send-button {
    font-size: 42px;
    background-color: #53a8ff;
    border: 0px solid #fff;
    letter-spacing: 0.6em;
}
.community-add-img-picker {
    .at-image-picker__choose-btn{
        background-color: rgba(247,247,247, $alpha: 1.0);
        border: 0px solid #fff;
    }
    
}