.TaskItem-warp {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #EBEEF5;

    .name {
        display: flex;
        align-items: center;
        font-size: 40px;
        margin-bottom: 18px;
        margin-left: 3%;
        margin-top: 18px;
    }

    .TaskItem-title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 18px;
        align-items: center;

        .item{
            width: 27%;
        }
    }

    .TaskItem-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 23px;
        margin-bottom: 18px;
        color: #606266;
        align-items: center;

        .item{
            width: 27%;
        }
    }

    
}