@import '~taro-ui/dist/style/components/flex.scss';
@import '../../static/style/common';
.LeaseOrder-warp{
    background-color: $bg-grey-color;
    width: 100%;
    height:calc(100vh+100rem);
    overflow-x: hidden;
}
.LeaseOrder-title {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    font-size: 33px;
}
.lease-before-icon {
    height: 38px;
    width: 10px;
    border-left: 7px solid #cd8537;
    margin-left: 20px;
}

.LeaseOrder-orderinfo {
    background-color: #fff;
    margin-top: 10px;

    .order-info {
        display: flex;
        flex-direction: row;
        padding: 20px;

        .image-img {
            width: 300px;
            height: 260px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 250px;
            margin-left: 20px;

            .title {
                color: #606266;
                font-size: 30px;
            }
            .money {
                color: #909399;
                font-size: 23px;
                margin-top: 10px;
            }
        }
    }

    .LeaseOrder-countPrice {
        display: flex;
        justify-content:flex-end;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 25px;
        color: #909399;
        margin-top: 20px;
        padding-bottom: 20px;

        .price {
            color: #F56C6C;
        }
    }
}

.LeaseOrder-tools {
    padding: 30px;
    background-color: #fff;
    margin-top: 10px;
}

.LeaseOrder-sale {
    background-color: #fff;
    margin-top: 10px;
    font-size: 25px;
    padding: 30px;

    .title {
        font-size: 29px;
    }
}

.LeaseOrder-people {
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;

    .title {
        font-size: 29px;
        margin-bottom: 20px;
    }

    .start-people {
        color: #909399;
        margin-bottom: 10px;

        .title {
            // font-weight: bold;
            color: #606266;
        }
        .join {
            margin-top: 10px;

            .tag {
                margin-right: 10px;
                margin-top: 10px;
            }
        }
    }
}

.LeaseOrder-code {
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    // margin-bottom: 150px;
    // z-index: 21;

    .title {
        font-size: 29px;
        margin-bottom: 20px;
    }
    .canvas {
        width: 300px;
        height: 300px;
        z-index: 1;
        // opacity: 0;
    }
    .qrcode {
        display: flex;
        width: 98%;
        justify-content: center;
    }
}

.LeaseOrder-footer {
    // position: fixed;
    // bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 98%;
    z-index: 22;

    .title {
        color: #606266;
        background-color: rgb(225, 225, 225);
        width: 70%;
        height: 89px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .apply-for-join {
        width: 90%;
    }

    .foot-btn {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sub-btn {
        margin: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;
    }
   
    
}

.LeaseOrder-footer-manage {
    border-top: #909399 solid 1px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 100px;
    justify-content: flex-end;
    padding: 40px;

    .manage-btn {
        height: 50px;
        font-size: 20px;
        width: 140px;
        margin-left: 35px;
    }
}

.LeaseOrder-footer-apply {
    // position: fixed;
    // bottom: 40px;
    width: 95%;
    padding: 20px;
    background-color: #fff;
}

.LeaseOrder-share{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .share {
        margin: 20px;
    }
}


// .LeaseOrder-tools {
//     margin: 20px;
// }
.apply-list {
    padding: 20px;
    overflow-y: scroll;
}

.lease-order-pay-selector {
    background-color: #fff;
    .switch {
        // $at-switch-title-size: 7px;
        border: 0px solid #fff;
    }
}

.lease-order-pay-protocol{
    padding: 10px 20px;
    font-size: 25px;
    color: #606266;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;

    .href-text {
        color:#409EFF;
    }
}

.lease-order-countdown {
    display: flex;
    justify-content: space-between;
    padding: 0px 27px;
    font-size: 25px;
    color: #606266;
    background-color: #fff;
}

